@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200;12..96,300;12..96,400;12..96,500;12..96,600;12..96,700&family=Nanum+Pen+Script&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  /* --animate-duration: 800ms;
  --animate-delay: 0.9s; */
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.dot {
  width: 35px;
  height: 35px;
  position: absolute;
  background: url(http://img.babathe.com/upload/specialDisplay/htmlImage/2019/20190104_rose2.png);
  background-size: 100% 100%;
}
.dot2 {
  width: 35px;
  height: 35px;
  position: absolute;
  background: url(http://img.babathe.com/upload/specialDisplay/htmlImage/2019/20190104_rose.png);
  background-size: 100% 100%;
}
.dot3 {
  width: 35px;
  height: 35px;
  position: absolute;
  background: url(http://img.babathe.com/upload/specialDisplay/htmlImage/2019/20190104_rose3.png);
  background-size: 100% 100%;
}
html,
body,
#container {
  width: 100%;
  height: 100%;
}
#logo {
  left: 50%;
  top: 50%;
  position: absolute;
  border-radius: 10px;
}

#DiacoDesignLink,
#pens {
  color: #fff;
}
